---
import Layout from '../layouts/Layout.astro';
import Mission from '../components/Mission.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Who from '../components/Who.astro';
import FAQ from '../components/FAQ.astro';
import About from '../components/About.astro';
import CTASection from '../components/CTASection.astro';
import Footer from '../components/Footer.astro';
import Testimonial from '../components/Testimonial.astro';
---

<Layout title="Mayfair - A Community for Engineering Leaders">
  <Navbar />
  <Hero />
  <Mission />
  <About />
  <Who />

<!--
    <section id="benefits" class="py-16 bg-british-racing-green border-t border-emerald-800">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center mb-12">
        <h2 class="text-3xl font-extrabold text-white">Why Join Mayfair?</h2>
        <p class="mt-4 max-w-2xl mx-auto text-gray-300">Our community offers unique benefits to help you grow as an engineering leader.</p>
        </div>
        <div class="max-w-4xl mx-auto">
        <Testimonial
            quote="Being part of this community has transformed how I approach engineering leadership. The connections and insights are invaluable."
            author="Engineering Director"
            role="AI Technology Company"
        />
        <Testimonial
            quote="The private events and discussions have helped me solve critical challenges in scaling my engineering team that I couldn't find solutions for elsewhere."
            author="CTO"
            role="Health Tech Startup"
        />
        <Testimonial
            quote="The level of discourse and expertise in this group is exceptional. It's become my go-to resource for navigating complex leadership situations."
            author="VP of Engineering"
            role="Enterprise SaaS Company"
        />
        </div>
    </div>
    </section>
-->
  <FAQ />
  <CTASection />
  <Footer />
</Layout>
