---
---
<section id="apply" class="py-16 bg-british-racing-green border-t border-emerald-800">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 text-center">
    <h2 class="text-3xl font-extrabold text-white mb-4">Ready to join the community?</h2>
    <p class="text-xl text-white mb-8 max-w-2xl mx-auto">Apply now to connect with fellow engineering leaders and elevate your leadership journey.</p>
    <a href="https://forms.gle/VQrTbpsJCnXH5FzAA" class="inline-flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-british-racing-green bg-accent hover:bg-white md:py-4 md:text-lg md:px-10">
      Apply to Mayfair
    </a>
  </div>
</section>
