---
---
<section id="mission" class="py-16 bg-british-racing-green border-t border-emerald-800">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center mb-12">
        <h2 class="text-3xl font-extrabold text-accent">Our Mission</h2>
        <p class="mt-3 mx-auto text-left text-accent  md:mt-5 md:max-w-3xl text-gray-300">
        Our mission is to help you grow your skills and advance your career - because no one goes to school for software engineering leadership.
        </p>
    </div>

     <div class="text-center mb-12">
        <h2 class="text-3xl font-extrabold text-accent">Our Why</h2>
        <p class="mt-3 mx-auto text-left text-accent  md:mt-5 md:max-w-3xl text-gray-300">
            The more senior you become in your role, the fewer peers you have within your organisation. It can become lonely without colleagues who understand the decisions you need to make.
        </p>
        <p class="mt-3 mx-auto text-left text-accent  md:mt-5 md:max-w-3xl text-gray-300">
            The community exists to provide you with a peer support network who understand the decisions you need to make, the challenges you face and are willing to help by sharing their experience and offering advice.
            </p>
        <p class="mt-3 mx-auto text-left text-accent  md:mt-5 md:max-w-3xl text-gray-300">
            By helping each other, we help ourselves and we level up each other, our careers and the software engineering leadership community.
        </p>
    </div>
</div>
</section>