---
---
<section id="who" class="py-16 bg-british-racing-green border-t border-emerald-800">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center">
      <h1 class="text-4xl tracking-tight font-extrabold text-accent sm:text-5xl md:text-6xl">
        <span class="block">Membership Criteria</span>
      </h1>
      <p class="mt-3 mx-auto text-left text-accent  md:mt-5  md:max-w-3xl text-gray-300">
        The typical Mayfair member is a CTO, VP Engineering, Director of Software Engineering or Software Engineering Manager.
      </p>
        <p class="mt-3 mx-auto text-left text-accent  md:mt-5  md:max-w-3xl text-gray-300"> We vet each new member and we look for:
        <ul class="mt-3 mx-auto text-left text-accent md:mt-5 md:max-w-3xl text-gray-300 list-disc pl-5">
          <li>Significant leadership experience e.g. 2+ years experience with 6+ staff reporting either directly or indirectly to you.</li>
          <li>Senior leadership exerience in a tech startup that has either $2M in annual revenue or funding in excess of $2M.</li>
        </ul>
      </p>
      <p class="mt-3 mx-auto text-left text-accent  md:mt-5  md:max-w-3xl text-gray-300">
        Each applicant is reviewed, interviewed and vetted.
      </p>
    </div>
  </div>
</section>
